.cropFrame {
	overflow : hidden;
	position : relative;
}
.cropImage {
	position : absolute;
	top      : 0;
	left     : 0;
	/*cursor   : move;*/
	max-width: none;
}
.cropControls {
	background : #000;
	width      : 100%;
	height     : 26px;
	position   : absolute;
	z-index    : 100;
	bottom     : 0;
	left       : 0;
	opacity    : 0;
	filter     : alpha(opacity=0);
	transition : opacity .25s linear;
	-moz-transition    : opacity .25s linear;
	-webkit-transition : opacity .25s linear;
}
.hover .cropControls,
.cropFrame:hover .cropControls {
	opacity    : .6;
	filter     : alpha(opacity=60);
}
.cropControls span {
	display   : block;
	float     : left;
	color     : #fff;
	font-size : 11px;
	margin    : 7px 0 0 5px;
}
.cropZoomIn,
.cropZoomOut {
	display         : block;
	float           : right;
	margin          : 4px 4px 0 0;
	background      : #fff;
	color           : #000;
	border-radius   : 9px;
	width           : 18px;
	height          : 18px;
	line-height     : 18px;
	font-size       : 18px;
	font-weight     : bold;
	text-align      : center;
	text-decoration : none;
	/*cursor          : pointer;*/
	/* IE SUCKS */
	zoom            : expression(this.runtimeStyle.zoom = "1", this.appendChild( document.createElement("b") ).className = "after")\9;
}
.cropZoomIn::after,
.cropZoomIn .after {
	content : "+";
	display : block;
}

.cropZoomOut::after,
.cropZoomOut .after {
	vertical-align : top;
	line-height    : 14px;
	font-size      : 22px;
	margin-left    : -2px;
	content        : "-";
	display        : block;
}


