/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

@media only screen and (min-width:1200px) {

}
@media only screen and (max-width:1199px) {

}
@media only screen and (max-width:1024px) {
	.menuzord-menu > li > a {
		padding: 26px 14px 22px !important;
	}
	.my-header-nav .my-get-btn {
		display: none;
	}

}
@media only screen and (max-width:991px){
	.masonry-gallery .isotope-item {
		width: 33.333% !important;
	}
	.my-choose-field .my-choose-col .my-mobile-img {
		margin-top: 0;
	}
	.my-header-top-bar .my-top-bar-col {
		float: none !important;
		text-align: center;
	}
	.my-top-bar-col.my-address {
		margin: 0;
	}
	.my-feature-piechart{margin-bottom: 100px;margin-top: 0;}
}

@media only screen and (max-width:767px) {
	.masonry-gallery .isotope-item {
		width: 50% !important;
	}
	.navbar-default .navbar-toggle {
		margin-top:15px;border-radius:0px;
	}
	.my-choose-field .my-choose-col .my-mobile-img {
		display: none;
	}
	.my-feature-piechart{margin-bottom: 0;}
	.my-mail-box .input-group{margin-bottom: 20px;}
	.my-funfact-field .my-funfact-col{text-align: center;}
	.my-funfact-field .my-funfact-col span{left: 13%;}
	.news-slider .item .thumb .layer{width: 100%;}
}
@media only screen and (max-width:490px) {
	.masonry-gallery .isotope-item {
		width: 100% !important;
	}
	.masonry-filter a {
		margin-bottom: 8px;
	}
	.news-slider .item .thumb .layer .title{margin-bottom: 0;}
	.news-slider .item .thumb .layer{padding: 15px;}
	.news-slider .item .thumb .layer p{line-height: 16px;margin-bottom: 0;}
	.news-slider .item .thumb .layer .sub-title{line-height: 16px;}
}
@media only screen and (max-width:479px) {
	.masonry-filter a {
		margin-bottom: 8px;
	}
}
@media only screen and (max-width:360px) {
	.menuzord-brand img {
		max-height: 29px;
	}
}
@media only screen and (max-width:319px){
	.menuzord-brand img {
		max-height: 27px;
	}
	.news-slider .item .thumb .layer{padding: 5px;}
	.about-img-column .layer .img-col-content .title{line-height: 0;}
}