@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900);
@import "../css/font-awesome.min.css";
@import "../css/font-awesome-animation.min.css";
@import "../css/jquery-ui.min.css";
@import "../css/animate.css";
@import "../css/owl.css";
@import "../css/isotop.css";
@import "../css/magnific-popup.css";
@import "../css/menuzord.css";
@import "../css/modernizr.css";
@import "../css/hover.css";
@import "../css/fancyBox.css";
@import "../css/prettyphoto.css";
@import "../css/jquery.mCustomScrollbar.min.css";
@import "../css/jquery.circliful.css";
@import "../css/fonticon-et-line.css";
@import "../css/fonticon-linearicons.css";
/* ========== Table of contents ========== */
/* ========== BODY TEXT */
/* ========== TYPHOGRAPHY */
/* ========== HEADINGS */

html {
    font-size: 100%;
    max-width: 100%;
}
html,
html a {
    -webkit-font-smoothing: antialiased;
}
body {
    background-attachment: fixed;
    color: #777777;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
    max-width: 100%;
    overflow-x: hidden !important;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #808080;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #595959;
    text-decoration: none;
}
a:hover,
a:focus {
    outline: none !important;
}
a img {
    border: none;
}
iframe {
    border: none;
}
/* ========== HEADINGS FON-TSIZE ========== */
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.42857143;
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
}
/* ========== TITLE LINE ========== */
.my-sector-topp {
    text-align: center;
}
.my-sector-topp span {
    color: #0074b6;
    font-size: 30px;
}
.my-sector-topp h2 {
    font-size: 26px;
    margin-top: 10px;
    text-transform: uppercase;
} 
.my-sector-topp h2 span {
    color: #0074b6;
    font-size: 26px;
}
.my-sector-topp p {
    margin-bottom: 60px;
    letter-spacing: 1px;
}
.my-sector-topp-two {
    margin-bottom: 60px;
}
.my-sector-topp-two h3 {
    font-size: 26px;
    text-transform: uppercase;
    float: left;
    letter-spacing: 1px;
}
.my-sector-topp-two h3 span {
    color: #0074b6;
}
.my-sector-topp-two .my-title-line {
    float: left;
    position: relative;
    width: 80px;
    height: 1px;
    background: #0074b6;
    margin-top: 18px;
    margin-left: 15px;
}
.my-sector-topp-two .my-title-line::before {
    content: " ";
    position: absolute;
    top: -3px;
    left: 0;
    width: 60px;
    height: 1px;
    background: #0074b6;
}
.my-sector-topp-two .my-title-line::after {
    content: " ";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100px;
    height: 1px;
    background: #0074b6;
}
.my-sector-topp-two p {
    letter-spacing: 1px;
    color: #777777;
    margin-top: 38px;
}
.my-title-white h3 {
    color: #ffffff;
}
.my-sector-topp-three {
    margin-bottom: 35px;
}
.my-sector-topp-three h3 {
    float: none;
}
.my-sector-topp-three .my-title-line {
    float: none;
    margin-left: 0;
}
/* ========== layer START ========== */
.my-layer-black {
    position: relative;
}
.my-layer-black:before {
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.7);
}
.my-layer-white {
    position: relative;
}
.my-layer-white:before {
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background: rgba(255, 255, 255, 0.9);
}
.my-layer-blue {
    position: relative;
}
.my-layer-blue:before {
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background: rgba(0, 116, 182, 0.8);
} 

/* ========== SCROLL TO TOP ========== */

.scrollToUp {
    background-color: #232323;
    bottom: 2%;
    color: #ffffff;
    display: none;
    font-size: 20px;
    padding: 3px 10px;
    position: fixed;
    right: 2%;
    text-align: center;
    z-index: 99999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.scrollToUp:hover {
    color: #ffffff;
    background-color: #0074b6;
}

/* Preloader */
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/preloader.gif);
}
/* ========== HEADER TOP ========== */

.my-header-top-bar {
    background: #000000;
    padding: 0;
}
.my-header-top-bar .my-top-bar-col {
    display: block;
    margin: 0 auto;
}
.my-header-top-bar .my-top-bar-col ul li {
    margin: 0;
    padding: 0;
}
.my-header-top-bar .my-top-bar-col ul li a {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 40px;
}
.my-header-top-bar .my-top-bar-col.my-contact-num li a i,
.my-header-top-bar .my-top-bar-col.my-address li a i {
    color: #0074b6;
    margin-right: 10px;
    line-height: 30px;
}
.my-top-bar-col.my-address {
    margin-right: 30px;
}
.my-header-top-bar .my-top-bar-col ul {
    list-style: none;
}
.my-header-top-bar .my-top-bar-col .my-font-icons li a {
    border-right: 1px solid #384651;
    padding: 3px 9px;
    margin: 0;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.my-header-top-bar .my-top-bar-col .my-font-icons li {
    display: -moz-box;
    margin-left: -3px;
    vertical-align: top;
}
.my-header-top-bar .my-top-bar-col .my-font-icons li:hover {
    background-color: #0074b6;
}
.my-header-top-bar .my-top-bar-col .my-font-icons a {
    color: #898989;
    text-decoration: none;
    width: 40px;
}
.my-header-top-bar .my-top-bar-col li:last-child {
    border-right: none;
}
.my-header-top-bar .my-top-bar-col .my-font-icons li a:hover {
    background: #0074b6;
}
.my-header-top-bar .my-top-bar-col .my-font-icons li a:hover i {
    color: #ffffff;
}
.my-header-top-bar .my-top-bar-col .my-font-icons li a i {
    color: #898989;
    margin-right: 0;
}
.my-header-top-bar .my-lang-cart li {
    display: inline-block;
}
.my-header-top-bar .my-lang-cart .my-carts-icon {
    margin-left: 15px;
}
.my-header-top-bar .my-top-bar-col button.my-lang {
    color: #ffffff;
    padding: 8px 25px;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-header-top-bar .my-top-bar-col button.my-lang:hover {
    background-color: #0074b6;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-header-top-bar .my-top-bar-col .dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 60px 3px 27px;
    white-space: nowrap; 
}
.my-header-top-bar .my-top-bar-col .dropdown-menu > li > a:hover,
.my-header-top-bar .my-top-bar-col .dropdown-menu > li > a:focus {
    background-color: #f5f5f5;
    color: #262626;
    text-decoration: none;
}
.my-header-top-bar .my-top-bar-col .my-lang-cart .dropdown-menu li a i {
    margin-right: 0;
}
.my-header-top-bar .my-lang-cart .my-carts-icon sup {
    background: #0074b6 none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 8px;
    line-height: 30px;
    padding: 3px 5px;
}
.my-header-top-bar .my-lang-cart .my-carts-icon i {
    margin-right: 0;
}
.menuzord-brand img {
    max-height: 45px;
}
.my-header-nav .my-main-nav.scrollingto-fixed {
    background: #fff;
}
.my-header-nav .my-get-btn {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: #0074b6;
    border-color: #0074b6;
    color: #fff;
    border-radius: 0;
    margin-top: 15px;
}
.my-header-nav .my-get-btn i {
    margin-right: 10px;
}
/*=========== PIECHART ==========*/
.my-feature-piechart {margin-top: -150px;}

/*=========== MAIN NAV ==========*/
.menuzord-menu ul.dropdown li a {
    font-size: 14px;
    font-weight: 600;
}

/*=========== MAIN SLIDER ==========*/
.my-main-slider {
    overflow: hidden;
}
.my-main-slider span {
    color: #0074b6;
}
.my-main-slider .btn {
    margin-top: 30px;
}
.my-img-fluided{width: 100%;}

/*=========== ISOTOP FILTER ==========*/

.masonry-filter {
    margin-bottom: 60px;
    text-align: center;
}
.list-inline.masonry-filter > li {
    padding-right: 0;
}
.masonry-filter a {
    border: 1px solid #eeeeee;
    color: #555555;
    display: inline-block;
    float: none;
    line-height: 40px;
    margin-bottom: 15px;
    margin-right: -10px;
    outline: medium none;
    text-transform: uppercase;
}
.masonry-filter a.active {
    background-color: #0074b6;
    color: #ffffff;
}
.masonry-filter a:hover {
    color: #ffffff;
}
.masonry-filter a > span {
    font-size: 16px;
    font-weight: 400;
    line-height: 56px;
    padding: 16px 15px;
}
/*=========== ISOTOP GALLERY ==========*/

.masonry-gallery .isotope-item {
    width: 25%;
}
.masonry-gallery.grid-three-item .isotope-item {
    width: 33.333%;
}
.masonry-gallery.grid-four-item .isotope-item {
    width: 25%;
}
.masonry-gallery .isotope-item {
    overflow: hidden;
}
.masonry-gallery .isotope-item .thumb {
    position: relative;
    overflow: hidden;
}
.masonry-gallery .isotope-item .thumb .photo {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 1200ms ease 0s;
    -moz-transition: all 1200ms ease 0s;
    -ms-transition: all 1200ms ease 0s;
    -o-transition: all 1200ms ease 0s;
    transition: all 1200ms ease 0s;
}
.masonry-gallery .isotope-item .layer {
    bottom: 0;
    height: 90%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    transform: scale(0);
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.masonry-gallery .isotope-item .layer i {
    color: #ffffff;
    font-size: 30px;
    left: 0;
    line-height: 45px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 45%;
}
.masonry-gallery .isotope-item:hover .layer {
    opacity: 1;
    transform: scale(1);
}
.masonry-gallery .isotope-item:hover .thumb .photo {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.gallery-slider .item .thumb {
    position: relative;
}
.gallery-slider .item .thumb:hover .layer {
    transform: scale(1);
}
.gallery-slider .item .thumb .layer {
    bottom: 0;
    height: 90%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    transform: scale(0);
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.gallery-slider .item .thumb .layer i {
    color: #ffffff;
    font-size: 30px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 45%;
}


/* ========== BTN-DEFAULT ========== */

.my-btn-small {
    color: #ffffff;
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: #000000;
    border-color: #000000;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-btn-small:hover {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-btn-blue {
    color: #ffffff;
    padding: 12px 40px;
    text-transform: capitalize;
    background: #0074b6;
    border-color: #0074b6;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-btn-blue:hover {
    color: #ffffff;
    background: #000000;
    border-color: #000000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-btn-black {
    color: #ffffff;
    padding: 12px 40px;
    text-transform: capitalize;
    background: #000000;
    border-color: #000000;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-btn-black:hover {
    color: #ffffff;
    background: #0074b6;
    border-color: #0074b6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-btn-white {
    color: #a1b1bc;
    padding: 12px 40px;
    text-transform: capitalize;
    background: #FFFFFF;
    border-color: #E5E5E5;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-btn-white:hover {
    color: #ffffff;
    background: #0074b6;
    border-color: #0074b6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-btn-mid {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 20px 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #000000;
    border-color: #000000;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-btn-mid:hover {
    color: #ffffff;
    background-color: #0074b6;
    border-color: #0074b6;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* common style */
.my-font-icons li {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 0;
}
.my-font-icons a {
    color: #333333;
    font-size: 18px;
    width: 32px;
    float: left;
    margin: 5px 7px 5px 0;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-font-icons a:hover {
    color: #666666;
}

/* ========== ABOUT SECTION ========== */

.my-about-field {
    padding: 100px 0 70px;
}
.my-about-field .my-big-title p {
    margin-bottom: 60px;
    letter-spacing: 4px;
}
.my-about-field .my-big-title h1 span {
     color: #0074b6;
}
.my-about-field .my-about-col {
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.my-about-field .my-about-col .my-about-col-title {
    position: relative;
    padding-left: 70px;
}
.my-about-field .my-about-col .my-about-col-title span {
    position: absolute;
    left: 0;
    top: -17px;
    display: inline-block;
    font-size: 36px;
    line-height: 52px;
    color: #0074b6;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.my-about-field .my-about-col .my-about-col-content {
    margin-bottom: 25px;
}
.about-img-column {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.about-img-column:hover .layer {
    bottom: 0;
    background: rgba(0, 116, 182, 0.9);
}
.about-img-column .layer {
    height: 30%;
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.about-img-column .layer .img-col-content {
    padding: 0 20px;
    padding-top: 20px;
}
.about-img-column .layer .img-col-content .title {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}
.about-img-column .layer .img-col-content p {
    color: #ffffff;
}
.parallax {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
/*  ABOUT SECTION LAYOUT 2 */
.my-about-two {
    padding: 100px 0 70px;
}
.my-about-two .my-about-col {
    margin-bottom: 30px;
}
.my-about-two .my-about-col .my-top-img {
    position: absolute;
    right: -14%;
    top: -22%;
    opacity: .8;
    z-index: 99;
}
.my-about-two .my-about-col .my-top-img img {
    border: 4px solid #eeeeee;
    border-radius: 3px 40% 3px 3px;
}
.my-about-two .my-about-col .my-center-img {
    position: relative;
}
.my-about-two .my-about-col .my-center-img img {
    margin: 0 auto;
}
.my-about-two .my-about-col .my-bottom-img {
    position: absolute;
    left: -5%;
    bottom: -18%;
    opacity: .8;
    z-index: 999;
}
.my-about-two .my-about-col .my-bottom-img img {
    border: 4px solid #eeeeee;
    border-radius: 3px 3px 3px 40%;
}
.my-about-two .my-about-col h3 {
    font-size: 24px;
    text-transform: uppercase;
}
.my-about-two .my-about-col h3 span {
    color: #0074b6;
}
.my-about-two .my-about-col p {
    margin-bottom: 40px;
}
.my-about-two .my-about-col p a {
    color: #0074b6;
}
.my-about-two .my-about-col .my-about-list li {
    margin-bottom: 20px;
}
.my-about-two .my-about-col .my-about-list li:before {
    content: "\f0c8";
    font-family: 'FontAwesome';
    margin-right: 10px;
    font-size: 6px;
}
.my-about-two .my-about-col .my-about-list li a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.my-about-two .my-about-col .my-about-list li a:hover {
    color: #0074b6;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.my-about-two .my-about-col .btn {
    margin-top: 15px;
}
/*inner about start*/
.my-inner-about {
    padding-top: 180px;
    overflow: hidden;
}


/* ========== FAQ SECTION ========== */
.my-faq-field {
    padding: 100px 0 70px;
}
.my-faq-field .my-faq-col {
    margin-bottom: 30px;
}
.my-faq-field .my-faq-col h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #777777;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.faq-content .panel .panel-title a i,
.faq-box .panel .panel-title a i {
  background-color: #000000;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.faq-content .panel-default>.panel-heading {
    border: none;
    background: transparent;
    padding-left: 0;
}
.faq-content .panel-default {
    border: none;
}
.faq-content .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*inner faq start*/
.my-inner-faq {
    padding-top: 0;
}


/* ========== CHOOSE START ========== */
.my-choose-field {
    padding: 100px 0 60px;
    background: rgba(0, 0, 0, 0) url(../img/resource/cnc-05.jpg) repeat scroll 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.my-choose-field .my-choose-col {
    margin-bottom: 30px;
}
.my-choose-field .my-choose-box {
    margin-bottom: 30px;
    position: relative;
    padding-left: 60px;
}
.my-choose-field .my-choose-box span {
    font-size: 30px;
    line-height: 45px;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.my-choose-field .my-choose-box:hover span {
    color: #0074b6;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.my-choose-field .my-choose-box h4 {
    color: #ffffff;
}
.my-choose-field .my-choose-box p {
    color: #ffffff;
}
.my-choose-field .my-choose-col {
    margin-bottom: 30px;
}
.my-choose-field .my-choose-col .my-mobile-img {
    margin-top: -80px;
}
/*choose two start*/
.my-choose-two .my-sector-topp-two h3 span, .my-choose-two .my-choose-box h4,
.my-choose-two .my-choose-box:hover span {
    color: #000000;
}
.my-choose-two .my-sector-topp-two .my-title-line,
.my-choose-two .my-sector-topp-two .my-title-line:before, 
.my-choose-two .my-sector-topp-two .my-title-line:after
 {
    background: #000000;
}


/* ========== PROJECT START========== */

.my-project-field {
    padding: 100px 0;
    overflow: hidden;
}
.gallery-slider .owl-stage-outer {
    overflow: visible;
}
.recent-projects .gallery-slider .owl-theme .owl-dots,
.owl-theme .owl-nav {
    position: relative;
}
.recent-projects .gallery-slider .owl-theme .owl-dots,
.owl-theme .owl-nav .owl-prev {
    right: 50.2%;
    top: 10px;
}
.recent-projects .gallery-slider .owl-theme .owl-dots,
.owl-theme .owl-nav .owl-next {
    left: 50.2%;
    top: 10px;
}
.recent-projects .gallery-slider .owl-theme .owl-dots,
.owl-theme .owl-nav .owl-prev,
.recent-projects .gallery-slider .owl-theme .owl-dots,
.owl-theme .owl-nav .owl-next {
    position: absolute;
    border-radius: 50%;
    padding: 10px 13px;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.recent-projects .gallery-slider .owl-theme .owl-dots,
.owl-theme .owl-nav .owl-prev i,
.recent-projects .gallery-slider .owl-theme .owl-dots,
.owl-theme .owl-nav .owl-next i {
    color: #ffffff
}
.owl-theme .owl-nav .owl-next:hover {
    background: #0074b6;
}
.owl-theme .owl-nav .owl-prev:hover {
    background: #0074b6;
}
/*Recent project two start*/
.my-recent-project-two {
    padding: 100px 0 0;
}
.my-recent-project-two img {
    width: 100%;
    height: auto;
}
.my-recent-project-two .my-coll {
    padding: 0;
}
.my-recent-project-two .masonry-filter li a > span {
    font-size: 12px;
}
.my-recent-project-two .masonry-filter li a:active,
.my-recent-project-two .masonry-filter li a:hover,
.my-recent-project-two .masonry-filter li a:focus{
    background-color: #0074b6;  
}

.my-recent-project-two .masonry-filter a > span:hover {
    color: #fff;
}
/*Inner project start*/
.my-inner-project {
    padding-bottom: 80px;
}

/* ========== FUNFACT SECTION START ========== */
.my-funfact-field {
    padding: 50px 0 20px;
    background: rgba(0, 0, 0, 0) url(../images/ptr/f1.png) repeat scroll 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.my-funfact-field .my-funfact-col {
    text-align: right;
    position: relative;
    padding-right: 50px;
    margin-bottom: 30px;
}
.my-funfact-field .my-funfact-col span {
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 30px;
    color: #0074b6;
}
.my-funfact-field .my-funfact-col .start-count {
    font-size: 30px;
    color: #0074b6;
    font-weight: 600;
    margin-bottom: 10px;
}
.my-funfact-field .my-funfact-col p {
    color: #000000;
    text-transform: uppercase;
}


/* ========== PRICING SECTION ========== */

.pricing .container {
    padding-top: 0;
}
.pricing-table {
    background: #000000;
    margin-bottom: 30px;
    position: relative;
}
.pricing-table .title {
    color: #ffffff;
    border-bottom: 1px dotted #4d4d4d;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
}
.pricing-table .pricing-table-content {
    color: #eeeeee;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 40px 40px 30px 25px;
    position: relative;
    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.pricing-table .price {
    font-size: 35px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 26px;
    margin-bottom: 35px;
    margin-top: 40px;
    position: relative;
}
.pricing-table:hover .price {
    color: #000000 !important;
}
.pricing-table .pricing-table-content .bg-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.pricing-table .pricing-table-content .bg-img:after {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.pricing-table .pricing-table-content:hover .bg-img {
    opacity: 1;
}
.pricing-table .pricing-table-content > p {
    color: #ffffff;
    border-bottom: 1px dotted #4d4d4d;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 26px;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
}
.pricing-table .pricing-table-content .second-para {
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 26px;
    margin-bottom: 55px;
    margin-top: 20px;
    position: relative;
}
.pricing-table .pricing-table-content .btn {
    border-radius: 0px;
    font-size: 16px;
    line-height: 40px;
    left: 0;
    padding: 5px 50px;
    position: relative;
}
.pricing-table:hover .btn {
    background: #000000;
}
/* ========== BLOG/NEWS SECTION ========== */

.my-blog-field {
    padding: 100px 0 100px;
}
.my-blog-field {
    
}
.news-cold {
    padding-left: 0px;
}
.news-slider .item .thumb {
    position: relative;
    overflow: hidden;
}
.news-slider .item .thumb .layer {
    bottom: 0;
    left: 0;
    padding: 30px;
    position: absolute;
    top: 0;
    width: 55%;
}
.news-slider .item .thumb .layer .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 0;
    text-transform: uppercase;
}
.news-slider .item .thumb .layer .sub-title {
    color: #cacaca;
    font-size: 10px;
    line-height: 36px;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}
.news-slider .item .thumb .layer p {
    color: #ffffff;
    margin-bottom: 30px;
}
.news-slider .item .thumb .layer a {
    color: #ffffff;
    padding: 10px 20px;
    text-transform: capitalize;
}
.layer .news-btn {
    border-radius: 0px
}



/*********Inner Blog Start*********/
.my-inner-blog-field {
    padding: 100px 0 70px;
}
.my-inner-blog-field .my-blog-col {
    margin-bottom: 30px;
}
/*left sidebar start*/
.my-search-box {
    position: relative;
    margin-bottom: 30px;
}
.my-search-box .form-control {
    border: 1px solid #d6e2ea;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
}
.my-search-box .input-group-btn {
    border: 1px solid #d6e2ea;
    border-left: none;
    background: #ffffff;
}
.my-search-box .input-group-btn .btn {
    background: transparent none repeat scroll 0 0;
}
.my-search-box .input-group-btn .btn i {
    font-size: 16px;
}
/*sidebar title start*/
.my-sidebar-title {
    margin-bottom: 30px;
}
.my-sidebar-title h4 {
    text-transform: uppercase;
    font-size: 18px;
}
.my-sidebar-title h4 i {
    margin-right: 20px;
    color: #0074b6;
}
/*Archives start*/
.my-Archives {
    margin-bottom: 50px;
}
.my-Archives .my-list li {
    margin-bottom: 25px;
}
.my-Archives .my-list li:before{
    content: "\f14a";
    font-family: fontawesome;
    font-style: 22px;
    color: #000000;
    margin-right: 20px;
}
.my-Archives .my-list li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-Archives .my-list li a:hover {
    color: #0074b6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*accordions start*/
.my-accordions-widget {
    margin-bottom: 50px;
}
.my-twitter-item {
    border-bottom: 1px solid #DEE5E9;
    padding-bottom: 25px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 65px;
}
.my-twitter-item img {
    position: absolute;
    left: 0;
    top: 0;
}
.my-twitter-item h6 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.my-twitter-item h6 span {
    color: #9e9e9e;
}
.my-twitter-item p a {
    color: #0074b6;
}
.bdr-none {
    border: none !important;
}
/*Tab Widget start*/
.my-tab-widget {
    margin-bottom: 50px;
}
.my-tab-widget .nav-tabs {
    border: none;
    text-align: center;
}
.my-tab-widget .nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    border: none;
    cursor: pointer;
    color: #ffffff;
    background: #0074b6;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.my-tab-widget .nav-tabs>li {
    width: 50%;
    padding-bottom: 0;
}
.my-tab-widget .nav-tabs>li>a {
    border: none;
    cursor: pointer;
    color: #ffffff;
    background: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 30px;
    margin-right: 0;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.my-tab-widget .tab-content {
    border: none;
    padding-left: 0;
}
.my-tab-content {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-left: 118px;
    border-bottom: 1px solid #DEE5E9;
}
.my-tab-content img {
    position: absolute;
    top: 0;
    left: 0;
}
.my-tab-content p {
    color: #000000;
    font-weight: 600;
    padding-top: 15px;
}
.my-tab-widget .my-mar-off {
    margin-bottom: 0 !important;
} 
.my-tab-widget .my-pad-off {
    padding-bottom: 0 !important;
}
/*Fliker widget start*/
.my-fliker-widget {
}
.my-fliker-widget .thumb {
    position: relative;
    width: 85px;
    height: 65px;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}
.my-fliker-widget .thumb .layer {
    background-color: rgba(0, 116, 182, 0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.my-fliker-widget .thumb:hover .layer {
    transform: scale(1);
}
.my-fliker-widget .thumb .layer i {
    color: #ffffff;
    font-size: 20px;
    margin-top: 28%;
}
/*Tag widget start*/
.my-tag-widget {
    margin-top: 50px;
}
.my-tag-widget .my-tags a {
    background: #ecf0f1;
    color: #262626;
    border: 1px solid #ecf0f1;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 1.5px;
    margin: 5px 8px 5px -2px;
    padding: 0px 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*blog main content*/
.my-blog-box {
    margin-bottom: 60px;
}
.my-blog-box img {
    margin-bottom: 20px;
}
.my-blog-heading-row .my-blog-date {
    float: left;
}
.my-blog-date {
    width: 90px;
    height: 90px;
    padding: 5px;
    margin-right: 20px;
    background: #0074b6;
    text-align: center; 
}
.my-blog-date h2 {
    color: #ffffff;
    font-size: 36px;
    border: 1px solid #ffffff;
    padding: 10px;
    padding-top: 15px;
    line-height: 22px;
    margin-bottom: 0;
}
.my-blog-date h2 span {
    font-size: 14px;
}
.my-post {
    padding-top: 15px;
}
.my-post ul {
    margin-bottom: 5px;
}
.my-post ul li {
    float: left;
    margin-right: 18px;
}
.my-post ul li i {
   color: #0074b6;
   margin-right: 5px;
}
.my-post h2 a {
    color: #000000;
}
.my-blog-box p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-blog-box .recent-projects .gallery-slider .owl-theme .owl-dots, 
.owl-theme .owl-nav .owl-prev, 
.recent-projects .gallery-slider .owl-theme .owl-dots, 
.owl-theme .owl-nav .owl-next {
    border-radius: 0;
    background: #000000;
}
.my-blog-box .owl-theme .owl-nav .owl-prev {
    display: table;
    left: -5px;
    position: absolute;
    top: -215px;
}
.my-blog-box .owl-theme .owl-nav .owl-next {
    display: table;
    right: -5px;
    position: absolute;
    top: -215px;
    left: 93.2%;
}
.my-blog-box iframe {
    margin-bottom: 20px;
}
.my-pagination {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #DEE5E9;
}
.my-pagination .pagination>li>a, .pagination>li>span {
    border: none;
}
.my-pagination .pagination>li>a:hover {
    background: #337AB7;
    color: #ffffff;
}
.my-pagination .pagination>li:first-child>a {
    border-radius: 0;
    background: #000000;
    color: #ffffff;
}
.my-pagination .pagination>li:last-child>a {
    border-radius: 0;
    background: #000000;
    color: #ffffff;
}

/***** Blog Single left sidebar start  ******/
.my-blog-single-col h5 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 36px;
    color: #565656;
    font-style: italic;
    border-left: 2px solid #0074b6;
    padding-left: 20px;
    margin-bottom: 50px;
}
.my-highlite-box {
    background: #F9F9F9;
    border: 1px solid #DEE5E9;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.my-highlite-box h3 {
    color: #565656;
    text-transform: uppercase;
}
/*single comments start*/
.my-silgle-comments {
    
}
.my-single-heading {
    margin-bottom: 35px;
}
.my-single-heading h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.my-single-heading p{
    font-size: 16px;
    margin-bottom: 65px;
}
.my-single-heading .my-under-border {
    width: 35px;
    height: 2px;
    background: #0074b6;
}
.my-single-comment-item {
    position: relative;
    /*margin-bottom: 120px;
    padding-left: 140px;*/
    margin-bottom:50px;
}
.my-single-comment-item img {
   /* position: absolute;*/
    left: 0;
    top: 0;
}
.my-single-comment-item h4 {
    font-size: 16px;
}
.my-single-comment-item h4 span {
    color: #0074b6;
}
.my-single-comment-item h4 .my-replay a {
    font-family: 'Open Sans', sans-serif;
    color: #8d8d8d;
    font-weight: normal;
}
.my-single-comment-item h4 .my-replay a:hover {
    color: #0074b6;
}
.my-single-comment-item p {
    margin: 0;
}
.my-silgle-comments .my-spance-right {
    margin-left: 80px;
}
/*Comment form start*/
.my-blog-input-field {
    margin-top: 40px;
}
.my-form .form-group {
    margin-bottom: 30px;
}
.my-form .form-group label {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #2f2f2f;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}
.my-form .form-group .form-control {
    height: 45px;
        border-radius: 0;
}
.my-textarea {
    width: 100% !important;
    height: 100% !important;
    resize: none;
}
.my-form .form-group .btn {
    margin-top: 20px;
}
.my-form .form-group .form-control:focus {
    border-color: #333333;
    box-shadow: none;
}




/* ========== CLIENTS SECTION/separator ========== */

.my-client-field {
    padding-bottom: 70px;
}
.my-client-field .thumb {
    margin-bottom: 30px;
}



/* ========== PROGRESS BAR ========== */

.progress-item {
    margin-top: 20px;
}
.progress-item .progress {
    background-color: #f8f8f8;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4) inset;
    border-radius: 0;
    height: 10px;
    margin-bottom: 15px;
    overflow: visible;
}
.progress-item .progress-bar {
    font-size: 11px;
    padding-left: 10px;
    position: relative;
    text-align: left;
    width: 0;
    line-height: 18px;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.progress-item .progress-bar .percent {
    background: none repeat scroll 0 0 #555555;
    border-radius: 8px 0 0;
    padding: 3px 5px;
    position: absolute;
    right: 0;
    top: -30px;
}
.progress-item.progress-white .progress {
    padding: 2px;
}
.progress-item.style2 .progress {
    height: 25px;
}
.progress-item.style2 .progress-bar .percent {
    background: none;
    color: #555555;
    font-size: 14px;
}
/* ========== PROGRESS BAR 2 ========== */

.progress-levels {
    position: relative;
}
.progress-levels .progress-box {
    position: relative;
    margin-bottom: 35px;
    overflow: hidden;
}
.progress-levels .progress-box .inner {
    background-color: #eeeeee;
}
.progress-levels .progress-box .bar {
    position: relative;
    height: 5px;
}
.progress-levels .progress-box .bar .bar-innner {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 4px;
}
.progress-levels .progress-box .bar .bar-fill {
    position: absolute;
    left: -100%;
    top: 0px;
    width: 0px;
    height: 8px;
    border-radius: 2px;
    -webkit-transition: all 1500ms ease 1000ms;
    -moz-transition: all 1500ms ease 1000ms;
    -ms-transition: all 1500ms ease 1000ms;
    -o-transition: all 1500ms ease 1000ms;
    transition: all 1500ms ease 1000ms;
}
.progress-levels .progress-box.animated .bar .bar-fill {
    left: 0px;
    background: #0074b6;
}
.progress-levels .progress-box.animated .percent {
    opacity: 1;
}
.progress-levels .progress-box .percent {
    position: absolute;
    right: 0px;
    text-align: center;
    top: -35px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
    color: #a9a9a9 !important;
    line-height: 26px;
    opacity: 0;
    -webkit-transition: all 200ms ease 700ms;
    -moz-transition: all 200ms ease 700ms;
    -ms-transition: all 200ms ease 700ms;
    -o-transition: all 200ms ease 700ms;
    transition: all 200ms ease 700ms;
}
.progress-levels:last-child {
    margin-bottom: 0px;
}
.progress-levels .box-title {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* ========== TABS ========== */
section {position: relative;}
.tab-content {
    padding: 15px;
    border: 1px solid #eeeeee;
}

/* ========== TESTIMONIALS SECTION ========== */

.my-testimonial-field {
    padding: 100px 0 100px;
    background: #0074b6;
}
.my-testimonial-field span {
    color: #000000;
    font-size: 60px;
    line-height: 70px;
}
.my-testimonial-field p {
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.my-testimonial-field h5 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: #000000;
    font-size: 14px;
}
.my-testimonial-field h6 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}
.my-testimonial-field i {
    font-size: 120px;
    bottom: 10%;
    left: 0;
    line-height: 30px;
    margin: auto;
    opacity: 0.08;
    position: absolute;
    right: 0;
    text-align: center;
    color: #ffffff;
}
/*testimonial two start*/
.my-testimonial-two {
    background: url("../images/resource/bg6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.my-testimonial-two span {
    color: #0074b6;
}
.my-testimonial-two h5 {
    color: #0074b6;
}


/* ========== TEAM SECTION START ========== */

.my-team-field {
    padding: 100px 0 70px;
}
.my-team-field .my-team-col {
    margin-bottom: 30px;
}

.my-team-col .thumb {
    position: relative;
    overflow: hidden;
    border: 1px solid #d0d0d0;
    padding: 1%;
}
.my-team-col .thumb:hover .layer {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.my-team-col .thumb img {
    max-width: 100%;
}
.my-team-col .thumb .layer {
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 135px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background: rgba(0, 116, 182, 0.4);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.my-team-col .thumb .thumb-content {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    height: 20%;
    left: 0;
    padding: 15px 20px 10px;
    position: absolute;
    right: 0;
}
.my-team-col .thumb .thumb-content .title {
    color: #ffffff;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.my-team-col .thumb .thumb-content .sub-title {
    font-size: 12px;
    line-height: 13px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #0074b6;
}
.my-team-col .icon {
    bottom: 20%;
    position: absolute;
    right: 0;
    z-index: 1;
}
.my-team-col .icon:hover .team-icons {
    right: 0;
}
.my-team-col .icon .icon-plus {
    background: black none repeat scroll 0 0;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.my-team-col .icon .team-icons {
    bottom: 30px;
    padding-bottom: 10px;
    position: absolute;
    right: -40px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.my-team-col .icon .team-icons li {
    background: black none repeat scroll 0 0;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
    text-align: center;
    width: 40px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.my-team-col .icon .team-icons li a {
    color: #ffffff;
}
.my-team-col .content p {
    margin-bottom: 25px;
    margin-top: 20px;
}
.my-team-col .content a {
    color: #0074b6;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.my-team-col .content .lnr {
    font-size: 14px;
    line-height: 26px;
    padding-left: 8px;
}
.my-team-col .icon i:hover {
    background: #0074b6;
    color: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.my-team-col .icon .team-icons li:hover {
     background: #0074b6;
    color: #ffffff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

/* ========== VIDEO START ========== */
.my-video-field {
    padding: 100px 0;
    background: url("../img/resource/video_bg.jpg") repeat scroll 0 0;
    background-repeat: no-repeat;
    background-size: cover; 
}
.my-video-field .my-video-col h2 {
    color: #ffffff;
    display: inline-block;
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.my-video-field .my-video-col h2 span {
    color: #0074b6;
}
.my-video-field .my-video-col p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 30px;
}
.my-video-field .my-video-col i {
    font-size: 82px;
    color: #0074b6;
}
/*video two start*/
.my-video-two .my-video-col h2 span, .my-video-two .my-video-col i {
    color: #000000;
}


/* ========== OWL COROUSEL ========== */

.owl-controls {
    margin: 0;
}
.owl-controls .owl-nav > div {
    background: none repeat scroll 0 0 rgba(240, 240, 240, 0.8);
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 45%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    z-index: 6;
}
.owl-controls .owl-next i {
    color: #808080;
    font-size: 20px;
}
.owl-controls .owl-prev i {
    color: #808080;
    font-size: 20px;
}
/* ========== OWL DOTS ========== */

.owl-theme .owl-dots {
    text-align: center;
    margin-top: 10px;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
    background: #eeeeee;
    border: 2px solid #555555;
    border-radius: 50%;
    transform: rotate(45deg);
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.8;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 12px;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #333333;
}
/* ========== TOGGLES ACCORDOMG ========== */

.panel-group.toggle .panel-heading {
    padding: 0;
    border-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-group.toggle .panel-body {
    padding: 10px 0 5px 25px;
}
.panel-group.accordion.transparent .panel-title a,
.panel-group.toggle.transparent .panel-title a,
.panel-group.accordion.transparent .panel-title a.active,
.panel-group.toggle.transparent .panel-title a.active {
    background: transparent !important;
    border: none !important;
}
.panel-group.accordion.transparent .panel-title a::after,
.panel-group.toggle.transparent .panel-title a::after,
.panel-group.accordion.transparent .panel-title a.active::after,
.panel-group.toggle.transparent .panel-title a.active::after {
    color: #333333;
    background: transparent !important;
}
.panel-group.accordion.transparent .panel-content,
.panel-group.toggle.transparent .panel-content {
    background: transparent !important;
}
.panel-group.toggle .panel-heading + .panel-collapse > .panel-body,
.panel-group.toggle .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}

/* ========== FORM ROUND ========== */

.my-top-bar-col p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
.my-top-bar-col .social-link .title {
    color: #a1b1bc;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}
.my-top-bar-col .social-link .sub-title {
    color: #a1b1bc;
    font-size: 12px;
    line-height: 18px;
}
.my-top-bar-col .post-content .post-title {
    color: #777777;
    font-size: 16px;
    margin-top: 0;
    text-transform: capitalize;
}
.my-top-bar-col .post-content .post-date {
    color: #ffffff;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
}
.my-top-bar-col .list-border li {
    border-bottom: 1px solid #243240;
}
.my-top-bar-col .mailchimp .form-control {
    border: 1px solid #243240 !important;
}
.my-top-bar-col .list-border li {
    border-bottom: 1px solid #243240;
}



/* ========== call-tocation SECTION START ========== */

.my-call-tocation-field {
    padding: 100px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0) url("../images/resource/bg5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.my-call-tocation-field .my-call-toaction-col h2 {
    font-size: 36px;
}
.my-call-tocation-field .my-call-toaction-col h2 span {
    color: #0074b6;
}
.my-call-tocation-field .my-call-toaction-col p {
    letter-spacing: 5px;
    color: #777777;
    margin-bottom: 30px;
}
.my-call-tocation-field .my-call-toaction-col .btn {
    margin-right: 10px;
    margin-left: 10px;
}
/*Call to action two*/
.my-call-to-action2 {
    padding: 65px 0 45px;
    background: #0074b6;
}
.my-call-to-action2 h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: 30px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 2px;
}
.my-call-to-action2 .action2-col {
    margin-bottom: 20px;
}



/* ========== SERVICE SECTION START ========== */
.my-service-field {
    padding: 120px 0 20px;
    text-align: center;
}
.my-service-field .my-service-col {
    margin-bottom: 80px;
    padding: 40px;
    background: #FBFCFC;
    border: 1px solid #e6ebf0;
    position: relative;
}
.my-service-field .my-service-col span {
    width: 96px;
    height: 96px;
    background: #0074b6;
    color: #ffffff;
    font-size: 40px;
    line-height: 88px;
    position: absolute;
    top: -17%;
    left: 50%;
    margin-left: -48px;
    border: 4px solid #0074b6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.my-service-field .my-service-col:hover span {
    background: #000000;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.my-service-field .my-service-col h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 40px;
}
.my-service-field .my-service-col p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
    margin-bottom: 20px;
}
/*inner service start*/
.inner-service-field {
    padding: 100px 0 50px;
}
.inner-service-field .my-about-col {
    margin-bottom: 50px;
}
.inner-service-field .my-about-col-content p {
    color: #0074b6;
}
.inner-service-field .my-about-col-content h4 {
    margin-bottom: 20px;
}


/* ========== FEATURES START ========== */
.my-features-field {
    padding: 100px 0 70px;
    background: url("../images/resource/about4.jpg");
    background-position: right;
    background-repeat: no-repeat;
}
.my-feature-col {
    margin-bottom: 30px;
}
.my-feature-sub {
    font-style: italic;
    font-weight: 15;
    color: #777777;
}
.my-features-field .my-feature-col .my-sector-topp-three p {
    margin-top: 40px;
}
.my-features-field .my-feature-col .my-feature-box {
    position: relative;
    padding-left: 75px;
    margin-bottom: 80px;
}
.my-features-field .my-feature-col .my-feature-box span {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 48px;
    color: #0074b6;
}
.my-features-field .my-feature-col .my-feature-box h3 {
    font-size: 18px;
    font-weight: normal;
    color: #2c3e50;
}
.my-features-field .my-feature-col .my-featurs-icon-top {
    padding-left: 7px;
}
.my-features-field .my-feature-col .my-featurs-icon-top:after {
    content: " ";
    position: absolute;
    left: 52%;
    bottom: -300%;
    width: 1px;
    height: 115px;
    background-color: #0074b6;
}
.my-features-field .my-feature-col .my-featurs-icon:after {
    content: " ";
    position: absolute;
    left: 45%;
    bottom: -300%;
    width: 1px;
    height: 115px;
    background-color: #0074b6;
}
.my-features-field .my-feature-col  .form-control {
    border-radius: 0;
    height: 45px;
    border: 1px solid #cccccc;
}
.my-features-field .my-feature-col .form-control:focus {
    border-color: #0074b6;
    box-shadow: none;
}
.my-select-box {
    margin-top: 30px;
}
.my-features-field .my-feature-col .my-btn-blue {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
}
.my-features-field .my-feature-col label {
    font-weight: 18px;
    color: #2c3e50;
}


/* ========== CAPABILITIES START ========== */
.my-capabiliti-field {
    position: relative;
}
.my-capabiliti-field .my-bg {
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
.my-capabiliti-title {
    background: url("../img/resource/bg7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0 150px;
}

.my-capabiliti-title span {
    color: #ffffff;
}
.my-capabiliti-ftitleh2 {
    color: #ffffff;
}
.my-capabiliti-title h2 span {
    color: #000000;
}
.my-capabiliti-title p {
    color: #ffffff;
    letter-spacing: 1px;
}
.my-capabiliti-content {

}


/* ========== PRICING TABLE START ========== */
.my-pricing-field {
    padding: 100px 0 70px;
}
.my-pricing-field .my-pricing-col {
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 40px 30px 25px;
}
.my-pricing-layer {
    position: relative;
}
.my-pricing-layer:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background: #000000;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.my-pricing-field .my-pricing-col:hover:before {
    background: rgba(0, 116, 182, 0.9);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.my-pricing-field .my-pricing-col h3 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    border-bottom: 2px dotted #4D4D4D;
    margin-bottom: 30px;
    position: relative;
}
.my-pricing-field .my-pricing-col h2 {
    font-size: 35px;
    color: #0074b6;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.my-pricing-field .my-pricing-col:hover h2 {
    color: #000000;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.my-pricing-field .my-pricing-col h4 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    border-bottom: 2px dotted #4d4d4d;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 26px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
}
.my-pricing-field .my-pricing-col p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: right;
    color: #ffffff;
    margin-bottom: 55px;
    position: relative;
}
.my-pricing-field .my-pricing-col .my-btn-blue {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.my-pricing-field .my-pricing-col:hover .my-btn-blue {
    background-color: #000000;
    border-color: #000000;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


/* ========== INNER HEADING START ========== */
.my-inner-heading-field {
    padding: 80px 0;
    background: url("../images/resource/bg_product.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.my-inner-heading-field h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.my-inner-heading-field ul li {
    display: inline-block;
    margin-right: 10px;
}
.my-inner-heading-field ul li a {
    color: #ffffff;
    text-transform: uppercase;
    font-style: italic;
}
.my-inner-heading-field ul li .active {
    color: #0074b6;
}

/* ========== CONTACT START ========== */
.my-contact-field {
    padding: 100px 0 0;
}
.my-contact-field .form-control {
    height: 48px;
    border-radius: 0;
    border-color: #cccccc;
}
.my-contact-field .form-control:focus{
    border-color: #333333;
    box-shadow: none ;
}
.my-contact-field .contact-form label {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 30px;
}
.my-contact-field .has-error .help-block {
    color: #0074b6;
}
.my-contact-field .my-map {
    margin-top: 100px;
}
.form-control.style2 {
    height: auto;
}

/* ========== FOOTER SECTION START ========== */
.my-footer {
    padding: 100px 0 0;
    background: #000000;
}
.my-footer .my-footer-col h3 {
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: normal;
    text-transform: capitalize;
}
.my-footer .my-footer-socila-col p {
    color: #758590;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 22px;
    border-bottom: 1px solid #243240;
}
.my-footer .my-footer-col h4 {
    color: #758590;
}
.my-footer-social-box {
    float: left;
    margin-right: 18px;
}
.my-footer .my-footer-col .my-footer-social-box ul li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 28px;
}
.my-footer .my-footer-col .my-footer-social-box ul li h4 {
    font-family: 'Lato', sans-serif;
    color: #a1b1bc;
    font-size: 16px;
    line-height: 16px;
}
.my-footer .my-footer-col .my-footer-social-box ul li h4 span {
    font-size: 12px;
    font-weight: normal;
}
.my-footer .my-footer-col .my-footer-social-box ul li i {
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.my-icon-bg1 {
    background: #FFB400;
}
.my-icon-bg2 {
    background: #1B78C7;
}
.my-icon-bg3 {
    background: #DA421F;
}
.my-icon-bg4 {
    background: #00BFF3;
}
.my-icon-bg5 {
    background: #67B807;
}
.my-icon-bg6 {
    background: #BC2A83;
}
.my-footer .my-footer-col .my-news li {
    position: relative;
    padding-left: 70px;
    border-bottom: 1px solid #243240;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.my-footer .my-footer-col .my-news li:last-child {
    border-bottom: none;
}
.my-footer .my-footer-col .my-news li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}
.my-footer .my-footer-col .my-news li h4 a {
    color: #777777;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-footer .my-footer-col .my-news li h4 a:hover {
    font-size: 16px;
    color: #0074b6;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-footer .my-footer-col .my-news li p {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 24px;
}
.my-footer .my-footer-col .my-news li a {
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-footer .my-footer-col .my-news li a:hover {
    color: #0074b6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-tags {
    margin-bottom: 30px;
}
.my-tags a {
    font-size: 14px;
    padding: 10px 8px;
    border: 1px solid #A1B1BC;
    float: left;
    margin: 5px 6px 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-tags a:hover {
    color: #ffffff;
    background: #0074b6;
    border: 1px solid #0074b6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-footer-link h4 {
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
    font-size: 22px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 18px;
}
.my-footer-link ul li {
    border-bottom: 1px solid #243240;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.my-footer-link ul li:last-child {
    border-bottom: none;
}
.my-footer-link ul li a:before {
    content: "\f0c8";
    font-family: 'FontAwesome';
    margin-right: 10px;
    font-size: 6px;
}
.my-footer-link ul li a:hover {
    color: #0074b6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.my-flickr {
    margin-bottom: 30px;
}
.my-flickr .thumb img {
    width: 72px;
    height: 72px;
}
.my-flickr .thumb {
    position: relative;
    width: 72px;
    height: 72px;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}
.my-flickr .thumb .layer {
    background-color: rgba(0, 116, 182, 0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.my-flickr .thumb:hover .layer {
    transform: scale(1);
}
.my-flickr .thumb .layer i {
    color: #ffffff;
    font-size: 20px;
    margin-top: 40%;
}
.my-mail-box h4 {
    font-family: 'Lato', sans-serif;
    color: #ffffff !important;
    font-size: 22px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 25px;
}
.my-mail-box .input-group {
    border: 1px solid #243240;
}
.my-mail-box .input-group .form-control {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #a1b1bc;
    background: #222533;
    border: none;
    border-radius: 0;
}
.my-mail-box .input-group-btn:last-child>.btn {
    border-radius: 0;
    border: 1px solid #243240;
}
.input-group .form-control:focus {
    box-shadow: none;
}
.my-mail-box .input-group .btn {
    background: #0074b6;
    color: #ffffff;
}
/*copy right start*/
.my-copyright {
    padding: 30px 0;
    background: #222533;
}
.my-copyright p {
    color: #a1b1bc;
}

/* background-color-transparent */
.post .entry-meta.meta-absolute,
.gallery-slider .item .thumb .layer,
.masonry-gallery .isotope-item .layer {
    background-color: rgba(0, 116, 182, 0.8) !important;
}
.news-slider .item .thumb .layer {
    background-color: rgba(0, 116, 182, 0.9) !important;
}
.video.separator.style::before {
    background-color: rgba(0, 116, 182, 0.7) !important;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.capabilitie::before {
    background-color: rgba(0, 116, 182, 0.8) !important;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.pricing-table .pricing-table-content .bg-img:after,
.pricing-table:hover .pricing-table-content {
    background-color: rgba(0, 116, 182, 0.9) !important;
}

/* preloader color */
.preloader-dot-loading .cssload-loading i {
    background: #0074b6 !important;
}

/* FAQ */
.faq-content .panel .panel-title a i,
.faq-box .panel .panel-title a i {
  background-color: #000000;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.faq-box .panel .panel-title a .icon-1 {
  display: inline-block;
}
.faq-box .panel .panel-title a.collapsed .icon-1 {
  display: none;
}
.faq-box .panel .panel-title a .icon-2 {
  display: none;
}
.faq-box .panel .panel-title a.collapsed .icon-2 {
  display: inline-block;
}
.faq-box .panel .panel-body p {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 35px;
}
.faq-box .panel .panel-body h5 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.faq-box .panel .panel-body img {
    margin-bottom: 35px;
    border: 5px solid #eeeeee;
}
.faq-box .panel .panel-collapse .panel-body {
  padding: 15px 0;
}
.faq-box .about-thumb {
  overflow: visible;
}
.faq-box .about-thumb .thumb-top {
  position: absolute;
  right: -18%;
  top: -25%;
}
.faq-box .about-thumb .thumb-top img {
  border: 4px solid #eeeeee;
  border-radius: 3px 40% 3px 3px;
}
.faq-box .about-thumb .thumb-bottom {
  position: absolute;
  left: -18%;
  bottom: -25%;
}
.faq-box .about-thumb .thumb-bottom img {
  border: 4px solid #eeeeee;
  border-radius: 3px 3px 3px 40%;
}
.faq-box .faq-box-title .square > li {
  font-family: 'Lato', sans-serif;
  list-style-type: square;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 40px;
}
.faq-box .faq-box-title .square > li:hover {
  color: #000000 !important;
}
.faq-box .faq-box-title .square > li a {
  color: #777777;
}
.faq-content .panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}
.faq-content .panel .panel-title a .icon-1,
.panel .panel-title a .icon-1,
.faq-content .icon::after{
  background-color: #0074b6 !important;
}
.my-laft-space15 {
    padding-left: 15px;
}
.my-right-space15 {
    padding-right: 15px;
}

/******/
.brand_color{
	color:#0074b6;
	}
	
.main-content img{
	padding: 1%;
	margin:1%;
}

.editor-content .date{
	font-style: italic;
	font-weight:bold;
}

.email_sent{
	font-size:200%;
	text-align:center;
	margin-bottom:5%;
}

.megamenu{
	background: transparent url('../img/bg_menu.jpg') center top no-repeat !important;
	width:100%;
}